# Database Configuration
DB_USER=postgres
DB_HOST=/var/run/postgresql
DB_NAME=library_db
DB_PASS=password_here
DB_PORT=5432

# Session Secret 
SESSION_SECRET=session_secret_here

# Server Configuration
PORT=3000